<body>
    <% include partials/head.ejs %>
    
    <h1>Thank you for participating !</h1>
    <p>You asked us about: <%= data.object %></p>
    <p class="lead input-group-text col-sm-6"><%= data.message%></p>

    <br>
    <p>We shall answer you at the following address: <b><%= data.email %></b></p>
</body>