<% include partials/head.ejs %>
<body>
<div class="todo-table col-sm-8 offset-sm-4">
    <form class="row">
        <input  class="col-12 / col-sm-8" type="text" name="item" placeholder="New item..." autocomplete="off" required>
        <button class="col-6 offset-3 / col-sm-3 offset-sm-1 / col-lg-2 offset-lg-1 / btn btn-primary btn-submit" type="submit">Submit</button>
    </form>
    <ul class="row">
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
    </ul>
</div>
</body>