<% include partials/head.ejs %>
<script><% include ../public/ajax.js %></script>

<body>
<div class="todo-table col-sm-8 offset-sm-4">
    <form id="newElementForm" class="row" action="/todo" method="post">
        <input  class="col-12 / col-sm-8" type="text" name="item" placeholder="New item..." autocomplete="off" required>
        <button class="col-6 offset-3 / col-sm-3 offset-sm-1 / col-lg-2 offset-lg-1 / btn btn-primary btn-submit" type="submit">Submit</button>
    </form>
    <ul class="row list">
        <% list.forEach(function(element){ %>
            <li><%= element.item %></li>
        <% }) %>
    </ul>
</div>
</body>